body {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
* {
  box-sizing: border-box;
}
div {
  height: 300px;
  border-radius: 20px;
  padding: 70px 0 0 0;
  color: rgb(55, 58, 58);
}
/* bedroom */
.top {
  background-color: #ffdab9;
}

.down {
  /* height: 300px; */
  background-color: #c8a2c8;
  /* border-radius: 20px; */
}

/* hall */
.third {
  background-color: #f3f1db;
}
.fourth {
  background-color: #5a8fd4;
}

/* kitchen */
.fifth {
  background-color: #e7c98b;
}
